@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

:root {
    --cor-destque:#E61207;
    --cor-padrao:#f8f8f8;

    --fonte-padrao:"Bebas Neue", sans-serif;
    --fonte-paragrafos:"Story Script", sans-serif;
    --fonte-titulos:"Playfair Display", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-padrao);
}

header {
    background-color: var(--cor-destque);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo h1 {
    font-family: var(--fonte-titulos);
    color: white;
    text-align: center;
    font-size: 28px;
}

.logo p{
    font-family: var(--fonte-paragrafos);
    color: white;
    text-align: center;
    font-size: 14px;
}

.menu-topo ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-topo a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    transition: 0.3s;
}

.menu-topo a:hover {text-decoration: underline;}

#categorias {
    background-color: var(--cor-destque);
}

#categorias ul{
    justify-content: center;
    display: flex;
    padding: 10px;
    gap: 20px;
    list-style: none;
}

#categorias h2 {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 4vh;
    background-color: var(--cor-destque);
    color: var(--cor-padrao);
    padding: 10px;
}

.abas a {
    font-size: 14px;
    font-family: var(--fonte-titulos);
    text-align: center;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}

.abas a:hover {
    text-decoration: underline;
    background-color: white;
    padding: 8px;
    border-radius: 7px;
    color: var(--cor-destque);
    transform: scale(1.05);
}

.principal{
    text-align: center;
    max-width: 600px;
    font-family: var(--fonte-padrao);
    font-size: 4vh;
    background-color: var(--cor-destque);
    color: var(--cor-padrao);
    padding: 10px;
}

div.card p {
    margin: auto;
    font-family: var(--fonte-paragrafos);
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}

.principal {
    margin-top: 10px;
    padding-left: 40px;
}

#destaque {
    padding-bottom: 10px;
    margin-top: 10px;
    background: var(--cor-destque) url(https://www.cozinhadonabenta.com.br/wp-content/uploads/2019/05/PIZZA-DE-MUSSARELA.jpg) center center no-repeat;
    background-size: cover;
}

#lounge {
    margin-top: 20px;
    background: var(--cor-destque) url(https://media.istockphoto.com/id/1053854126/pt/foto/all-you-can-eat-sushi.jpg?s=612x612&w=0&k=20&c=3RMMIy05HDxFzejgbMWSgxmh72ZhEwm3oyUNU-tTrqY=) center center no-repeat;
    background-size: cover;
}

#frio {
    background: var(--cor-destque) url(https://media.istockphoto.com/id/1922618743/pt/foto/assorted-of-scoops-ice-cream-colorful-set-of-ice-cream-of-different-flavours-side-view-of-ice.jpg?s=612x612&w=0&k=20&c=PRy4oOFuEd6InzXvJZSvEsXRI5T4K3tED9vCX_mm-HA=) center center no-repeat;
    background-size: cover;
}

#batata {
    background: var(--cor-destque) url(https://gastronomiacarioca.zonasul.com.br/wp-content/uploads/2023/01/batata_frita_caseira_ilustrativa_zona_sul.jpg) center center no-repeat;
    background-size: cover;
}

#sabor {
    background: var(--cor-destque) url(https://img.freepik.com/fotos-premium/yakisoba-noodles-prato-de-yakisoba-com-carne-de-frango-e-vegetais_434193-1634.jpg) center center no-repeat;
    background-size: cover;
}

.restaurantes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.479); 
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-5px);
}

.card button {
    background-color: var(--cor-destque);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.card button:hover {
    background-color: #b50d05;
}

div h3 {
    box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.541);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, var(--cor-destque), transparent);
    font-size: 4vh;
    padding: 20px;
}
#sobre {
    text-align: center;
    margin-top: 13px;
    font-family: var(--fonte-padrao);
    font-size: 2vh;
    background-color: var(--cor-destque);
    color: var(--cor-padrao);
    padding: 10px;
}
#sobre p{
    font-family: var(--fonte-titulos);
    padding: 10px;
    background-color: var(--cor-destque);
    color: white;
}


#sobre form {
    padding: 20px;
    background-color: var(--cor-destque);
}

#sobre form label {
    color: white;
    font-family: var(--fonte-padrao);
}

#sobre form input {
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}

#enviar {
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-left: 7px;
    color: var(--cor-destque);
    font-weight: bold;
}

#enviar:hover {
    background-color: #b50d05;
    color: white;
}

footer {
    background-color: var(--cor-destque);
    padding: 20px;
}

footer p {
    text-align: center;
    color: white;
    font-weight: bold;
}