@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-destque:#E61207;
    --cor-padrao:#f8f8f8;

    --fonte-padrao:"Bebas Neue", sans-serif;
    --fonte-paragrafos:"Story Script", sans-serif;
    --fonte-titulos:"Playfair Display", serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(circle at top, #fff8f0, #f8f8f8);
}

header {
    background: linear-gradient(90deg, #E61207, #900505);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 100;
}


.logo h1 {
    font-family: var(--fonte-titulos);
    color: white;
    text-align: center;
    font-size: 32px;
    background: linear-gradient(45deg, #ffd700, #fff, #ffd700 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    animation: brilho 4s linear infinite;
}
@keyframes brilho {
    0% {background-position: 0%;}
    100% {background-position: 200%;}
}

.logo p{
    font-family: var(--fonte-paragrafos);
    color: white;
    text-align: center;
    font-size: 14px;
}

.menu-topo ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-topo a {
    position: relative;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    transition: 0.3s;
}

.menu-topo a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #ffd700;
    transition: 0.3s ease;
}

.menu-topo a:hover::after {
    width: 100%;
}
.menu-topo a:hover {text-decoration: underline;
}

.menu-topo ul img {
    width: 30px;
}

.menu-topo ul img:hover {
    transition: 3s;
}

#categorias {
    background: linear-gradient(90deg, #E61207, #900505);
}

#categorias ul{
    justify-content: center;
    display: flex;
    padding: 10px;
    gap: 20px;
    list-style: none;
}

#categorias h2 {
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 4vh;
    background: linear-gradient(90deg, #E61207, #900505);
    color: var(--cor-padrao);
    padding: 10px;
}

.abas a {
    font-size: 14px;
    font-family: var(--fonte-titulos);
    text-align: center;
    text-decoration: none;
    color:white;
    transition: 0.3s;
}

.abas a:hover {
    text-decoration: underline;
    background-color: white;
    padding: 8px;
    border-radius: 7px;
    color: var(--cor-destque);
    transform: scale(1.05);
}

.principal{
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    font-family: var(--fonte-titulos);
    font-size: 3.8vh;
    background: linear-gradient(135deg, #e51207, #a80806);
    color: #ffd700;
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.principal::before,
.principal::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, transparent, #ffd700, transparent);
}

.principal::before {
    top: 0;
}

.principal::after {
    bottom: 0;
}


div.card p {
    margin: auto;
    font-family: var(--fonte-paragrafos);
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
    width: 270px;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}


#destaque {
    padding-bottom: 10px;
    margin-top: 10px;
    background: var(--cor-destque) url(https://www.cozinhadonabenta.com.br/wp-content/uploads/2019/05/PIZZA-DE-MUSSARELA.jpg) center center no-repeat;
    background-size: cover;
}

#lounge {
    margin-top: 20px;
    background: var(--cor-destque) url(https://media.istockphoto.com/id/1053854126/pt/foto/all-you-can-eat-sushi.jpg?s=612x612&w=0&k=20&c=3RMMIy05HDxFzejgbMWSgxmh72ZhEwm3oyUNU-tTrqY=) center center no-repeat;
    background-size: cover;
}

#frio {
    background: var(--cor-destque) url(https://media.istockphoto.com/id/1922618743/pt/foto/assorted-of-scoops-ice-cream-colorful-set-of-ice-cream-of-different-flavours-side-view-of-ice.jpg?s=612x612&w=0&k=20&c=PRy4oOFuEd6InzXvJZSvEsXRI5T4K3tED9vCX_mm-HA=) center center no-repeat;
    background-size: cover;
}

#batata {
    background: var(--cor-destque) url(https://gastronomiacarioca.zonasul.com.br/wp-content/uploads/2023/01/batata_frita_caseira_ilustrativa_zona_sul.jpg) center center no-repeat;
    background-size: cover;
}

#sabor {
    background: var(--cor-destque) url(https://img.freepik.com/fotos-premium/yakisoba-noodles-prato-de-yakisoba-com-carne-de-frango-e-vegetais_434193-1634.jpg) center center no-repeat;
    background-size: cover;
}

.restaurantes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.479); 
    overflow: hidden;
    text-align: center;
    transition: 0.3s ease;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-7px) scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);
}

.card button {
    background-color: var(--cor-destque);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.card button:hover {
    background-color: #b50d05;
    transform: scale(1.05);
}

div h3 {
    box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.541);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, var(--cor-destque), transparent);
    font-size: 4vh;
    padding: 20px;
}
#sobre {
    text-align: center;
    margin-top: 13px;
    font-family: var(--fonte-padrao);
    font-size: 2vh;
    background: linear-gradient(90deg, #900505, #e91207);
    color: var(--cor-padrao);
    padding: 10px;
}
#sobre p{
    font-family: var(--fonte-titulos);
    padding: 10px;
    background: linear-gradient(90deg, #900505, #e91207);;
    color: white;
}


#sobre form {
    padding: 20px;
    background: linear-gradient(90deg, #900505, #e91207);;
}

#sobre form label {
    color: white;
    font-family: var(--fonte-padrao);
}

#sobre form input {
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-left: 10px;
}

#enviar {
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-left: 7px;
    color: var(--cor-destque);
    font-weight: bold;
}

#enviar:hover {
    background-color: #b50d05;
    color: white;
}

footer {
    background: linear-gradient(90deg, #900505, #e91207);
    padding: 25px;
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 16px;
    letter-spacing: 1px;
    border-top: 2px solid #ffd700;
}



footer p {
    text-align: center;
    color: white;
    font-weight: bold;
}